/* .custom-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    
  }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-12, .col-md-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */